@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.container{
    text-align: right;
    margin-right: 20px;
}

.container button {
    background-color: rgb(112, 139, 196);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 2px;
    font-family: 'Cinzel', serif;
    color: white;
}

.container input{
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(20, 55, 114);
    width: 300px; /* ancho de la SearchBar */
    height: 30px; /* altura de la SearchBar */
    margin: 10px;
}